.localized
.DS_Store

*.log
*.bak*
*.env*

.haikro-cache
.node-version
.nyc_output
.sass-cache

bower_components
coverage
node_modules
/node*
public/*
tmp/*

health/history/

next-syndication-api-*.json
