<footer>
    <p>Copyright The Financial Times Limited {{publishedYear}}</p>
    <p>© {{publishedYear}} The Financial Times Ltd. All rights reserved. Please do not copy and paste FT articles and redistribute by email or post to the web.</p>
</footer>
