<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Process Erasure Requests</title>
</head>
<body>
    <h1>Process Erasure Requests</h1>
    <form action="erasure-search" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" />
        <p>and/or</p>
        <label for="uuid">UUID:</label>
        <input type="text" name="uuid" id="uuid" />
        <input type="submit" />
    </form>

    {{#if viewModel.uuidSearchResults}}
        <h2>Results for the user with uuid {{viewModel.uuid}}:</h2>
        <ul>
            {{#each viewModel.uuidSearchResults}}
                {{#ifEquals recordsFound 0}}
                    <li>{{table}} table: {{recordsFound}} records</li>
                {{else}}
                    <li><b>{{table}} table: {{recordsFound}} records</b></li>
                {{/if}}
            {{/each}}
        </ul>
    {{/if}}

    {{#if viewModel.emailSearchResults}}
        <h2>Results for the user with email {{viewModel.email}}:</h2>
        <ul>
            {{#each viewModel.emailSearchResults}}
                {{#ifEquals recordsFound 0}}
                    <li>{{table}} table: {{recordsFound}} records</li>
                {{else}}
                    <li><b>{{table}} table: {{recordsFound}} records</b></li>
                {{/if}}
            {{/each}}
        </ul>
    {{/if}}
</body>
</html>
